.elementwrapper {
    padding: 10px;
    position: relative;
    display: block;
}

input:focus {
    outline: none;
    border: 1px solid orange;
    color: orange;
}

input
{
    color: #8a8a8a;
    display: block;
    width: calc(100% - 36px);
    height: 44px;
    padding: 5px 0px 5px 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
}

input:focus ~ label, label.top {
    top: 1px;
    left: 36px;
}

.tooltip {
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 6px;
    position: sticky;
    display: block;
    margin-left: 36px;
    z-index: 1;
    visibility: hidden;
}

.tooltip::after {
    content: "";
    position: absolute;
    left: 1%;
    bottom:100%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

label {
    transition: all .4s ease;
    position: absolute;
    color: #8a8a8a;
    top: 29px;
    left: 36px;
    background-color: #fff;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
}

/* Error styles */

.error input {
    border: 1px solid red;
    color: red;
}

.error label {
    color: red;
}

.icon-error {
    position: absolute;
    left: 18px;
    top: 20px;
    color: red;
    font-size: 24px;
    display: none;
}