.elementwrapper {
    padding: 10px;
    position: relative;
    display: block;
}

input:focus {
    outline: none;
    border: 1px solid orange;
    color: orange;
}

input
{
    color: #8a8a8a;
    display: block;
    width: 90%;
    height: 44px;
    padding: 5px 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
}

input:focus ~ label, label.top {
    top: 1px;
    left: 50px;
}

label {
    transition: all .4s ease;
    position: absolute;
    color: #8a8a8a;
    top: 29px;
    left: 50px;
    background-color: #fff;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
}
